<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746052498782-3u9epnhcmgq28qidc05nah1fpl3fkb0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746052498782-3u9epnhcmgq28qidc05nah1fpl3fkb0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>746052498782-345t1tc7ugme06q1jlr96m7ojrkfkaki.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfNRZ8kUlZYgTC03OFz9aHN-ak0bFNuto</string>
	<key>GCM_SENDER_ID</key>
	<string>746052498782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freestyle.pro.app</string>
	<key>PROJECT_ID</key>
	<string>freestyle-academy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>freestyle-academy-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746052498782:ios:63d3a88901c6cee4f9cbcf</string>
	<key>DATABASE_URL</key>
	<string>https://freestyle-academy-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>